<%- include('../../partials/header') %>

  <label>Recipe Name:</label>
  <%= recipe.name %><br>
  <label> Category</label>
  <%= recipe.category %><br>
  <label>Prep Time:</label>
  <%= recipe.prepTime %>
  <label>Cook Time:</label>
  <%= recipe.cookTime %><br>
  <label>Description:</label>
  <p><%= recipe.description %></p>
  <label>Instructions:</label>
  <%- recipe.instructionsHtml %>
  <label> Ingredients:</label>
  <% if (!ingredients || ingredients !== undefined) { %>
    <% ingredients.forEach(function(i) { %>
    <table>
      <form id="ingredientsForm" action="/ingredients/<%= i._id %>?_method=DELETE" method="POST">
        <tr>
            <td><%= i.amount %></td>
            <td><%= i.name %></td>
            <td><input type="submit" class="btn-small left" value="Delete"></td>
        </tr>
      </form>
    </table>
  <% }); %>
  <% }; %>
  <form id="ingredientsForm" action="/recipes/<%= recipe._id %>/ingredients" method="POST">
  <table id="ingredients">
    <tr>
      <th>Amount</th>
      <th>Ingredient</th>
    </tr>
    <tr>
      <td><input type="text" name="amount" autocomplete="off"></td>
      <td>
        <input type="text" name="name" autocomplete="off">
        <input type="hidden" name="recipe" value="<%= recipe._id %>">
      </td>
      <td><input type="submit" class="btn-small left" value="Add Ingredient"></td>
    </tr>
  </table>
</form>
  <a class="btn-small left" href="/recipes/<%= recipe._id %>">Finished</a>

<%- include('../../partials/footer') %>