<%- include('../../partials/header') %>

  <label>Recipe Name:</label>
  <%= recipe.name %><br>
  <label> Category</label>
  <%= recipe.category %><br>
  <label>Prep Time:</label>
  <%= recipe.prepTime %>
  <label>Cook Time:</label>
  <%= recipe.cookTime %><br>
  <label>Description:</label>
  <p><%= recipe.description %></p>
  <label>Instructions:</label>
  <%- recipe.instructionsHtml %>
  <label> Ingredients:</label>
  <% if (!recipe.ingredients === undefined) {
  <% recipe.ingredients.keys(function(i) { %>
    <tr>
      <form id="ingredientsForm" action="/recipes/ingredients/<%= i._id %>?_method=DELETE" method="POST">
        <td><%= i.measurement %></td>
        <td><%= i.name %></td>
        <td><input type="submit" value="Delete Ingredient"></td>
      </form>
      </tr>
    </tr>
  <% }); %>
  <% }: %>
  <form id="ingredientsForm" action="/recipes/ingredients" method="POST">
  <table id="ingredients">
    <tr>
      <td><input type="text" name="measure"></td>
      <td><input type="text" name="ingredient"></td>
      <td><input type="submit" value="Add Ingredient"></td>
    </tr>
  </table>
</form>
  <a href="/recipe/<%= recipe._id %>"><button>Finished</button></a>


<script>

</script>

<%- include('../../partials/footer') %>