<%- include('../partials/header') %>

<form id="new-form" action="/users/<%= user._id %>?_method=PUT" method="POST">
  <input type="text" name="name" value="<%= user.name %>" autocomplete="off">
  <label>Name:</label>
  <input type="text" name="email" value="<%= user.email %>" autocomplete="off" required="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
  <label>Email:</label>
  <label>User Role: Currently <%= user.role %> (Please Reselect Role Below)</label>
  <div class="container">
    <p><label><input class="with-gap" type="radio" name="role" value="User" checked /><span>User</span></label></p>
    <p><label><input class="with-gap" type="radio" name="role" value="Contributor" /><span>Contributor</span></label></p>
    <p><label><input class="with-gap" type="radio" name="role" value="Admin" /><span>Admin (Do Not Use)</span></label></p>
  </div>
  <input type="submit" class="btn-small left" value="Submit">
</form>

<%- include('../partials/footer') %>