<%- include('../partials/header') %>

<div class="row">
  <div class="col s12 m4 l8">
    <div class="col s12 m4 l8">
    <% if (contributor && contributor.role === 'Admin') { %>
        <a href="/users/<%= user._id %>/edit" class="btn-small left"> Edit User</a>
        <form class="right" id="deleteUser" action="/users/<%= user._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn-small" >Delete User</button>
        </form>
      <% }; %>
    </div>
    <div class="col s12 m10 l8">
      <div>
        <img src="<%= user.avatar %>">
      </div>
      <span class="badge blue-grey lighten-1 white-text"><%= user.role %></span>
      <h3><%= user.name %></h3>
      <h6>Email:</h6>
      <p><%= user.email %></p>
    </div>
  </div>
</div>

                
<%- include('../partials/footer') %>