<%- include('../partials/header') %>
<div class="row">
    <div id="recipes" class="col s12 m6">
      <% recipes.forEach(function(recipe) { %>
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
              <span class="card-title"><%= recipe.name %></span>
              <p><%= recipe.instructions %></p>
                <div class="card-action">
                  <span class="badge blue-grey lighten-1 white-text"><%= recipe.category %></span>
                  <% if (contributor.role === 'Admin') { %>
                    <form id="deleteRecipe" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn-small" >Delete Recipe</button>
                    </form>
                  <% }; %>
                </div>
            </div>
        </div>
      <% }); %>
    </div>
  </div>
<%- include('../partials/footer') %>