<%- include('../partials/header') %>
<div class="row">
    <div id="recipes" class="col s12">
      <% recipes.forEach(function(user, recipe) { %>
        <div class="card blue-grey">
          <div class="card-content white-text">
            <div>
              <span class="card-title">
                <% if (user.avatar) { %>
                  <img src="<%= user.avatar %>" alt="" class="circle responsive-img">&nbsp;&nbsp;
                <% } else { %>
                  <i class="small material-icons">perm_identity</i>
                <% }; %>
                  <span class="recipe-name"><%= recipe.name %></span>
                  <span class="badge white">SEI <%= recipe.category %></span>
              </span>
            </div>
            <ul class="collection">
              <% recipes.forEach(function(recipe) { %>
                <li class="collection-item blue-grey-text text-darken-2">
                <span class="title"><%- fact.text %></span>
                  <% if (users.role.equals(user && user.role)) { %>
                    <form action="/facts/<%= fact._id %>?_method=DELETE" method="POST" class="secondary-content">
                      <button type="submit" class="btn-small red-text">X</button>
                    </form>
                  <% }; %>
                </li>
              <% }); %>
            </ul>
            <% if (users.role.equals(user && user.role)) { %>
              <div class="card-action">
                <form action="/facts" method="POST">
                  <input type="text" name="text" class="white-text">
                  <button type="submit" class="btn white-text">Add Fact</button>
                </form>
              </div>
            <% }; %>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
<%- include('../partials/footer') %>