<%- include('../partials/header') %>

<div class="row">
  <div class="col s12 m4 l8">
    <div class="col s12 m4 l8">
    <% if (contributor && contributor.role === 'Admin') { %>
        <a href="/recipes/<%= recipe._id %>/edit" class="btn-small left"> Edit Recipe</a>
        <form class="right" id="deleteRecipe" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn-small" >Delete Recipe</button>
        </form>
      <% }; %>
    </div>
    <div class="col s12 m10 l8">
      <span class="badge blue-grey lighten-1 white-text"><%= recipe.category %></span>
      <h3><%= recipe.name %></h3>
      <h6>Description:</h6>
      <p><%= recipe.description %></p>
      <div class="col s6 m5 l4">
      <table class="responsive">
        <thead>
          <tr>
            <th></th>
            <th>Ingredients</th>
          </tr>
        </thead>
        <tbody>
            <% if (ingredients !== undefined) { %>
              <% ingredients.forEach(function(i) { %>
              <tr>
                <td><%= i.amount %></td>
                <td><%= i.name %></td>
              </tr>
            <% }); %>
          <% }; %>
        </tbody>
      </table>
      </div>
      <div class="col s6 m5 l4">
      <h6>Instructions</h6>
      <%- recipe.instructionsHtml %>
      </div>
    </div>

    
  </div>

                
<%- include('../partials/footer') %>